<div class="container-fluid">
  {{link-to 'Intro' 'application' class="navbar-brand"}}
  <ul class="nav navbar-nav navbar-right">
    <li>{{link-to 'Home' 'index'}}</li>
    <li>{{link-to 'About Us' 'about'}}</li>
    <li>{{link-to 'Contact' 'contact'}}</li>
  </ul>
</div>
